.menu {
    width: 100%;
    height: 380vh;
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3%;

    &__title {
        width: 100%;
        height: 5%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 5%;
        font-size: 2em;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            width: 20%;
            border: 1px solid black;
            left: 25%;
        }

        &::after {
            content: '';
            position: absolute;
            width: 20%;
            border: 1px solid black;
            right: 25%;
        }


    }

    &__meals {
        width: 50%;
        height: 10%;
        position: relative;

        & .meals__underline {
            position: absolute;
            left: 24%;
            top: 60%;
            width: 12%;
            border-bottom: 3px solid rgb(161, 176, 5);
            transition: all 0.3s ease;
        }

        & .meals__options {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10%;

            & .options__option {
                font-size: 1.5em;
                transition: 0.3s;

                &:hover {
                    cursor: pointer;
                }
            }
        }


    }

    &__sliders {
        width: 85%;
        height: 80%;
        border: 3px solid black;
        display: flex;
        justify-content: center;
        align-items: center;

        & .sliders__breakfast {
            width: 90%;
            height: 90%;
            border: 2px solid blue;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 3%;

            & .breakfast__part1 {
                width: 40%;
                height: 90%;
                border: 2px solid red;
                display: flex;

                

                
            }

            & .breakfast__part2 {
                width: 40%;
                height: 100%;
                border: 2px solid blue;
                display: flex;
                flex-direction: column;
                
                & .part2__salty{
                    width: 100%;
                    height: 60%;
                    margin-top: 21%;
                    display: flex;
                    flex-direction: column;
                    gap: 1%;
                    border: 3px solid black;

                    & .breakfast__title{
                        margin-top: 22%;
                        &--baguette{
                            margin-top: 5%;
                        }
                    }
                    
                }

                & .part2__drinks{
                    width: 100%;
                    height: 40%;
                    margin-top: 15%;
                    display: flex;
                    flex-direction: column;
                    gap: 1%;
                    border: 3px solid black;

                    & .menu__table{
                        & tr{
                            height: 10px;
                        
                    }
                }
            }
        }

    }
}

.menu__box{
    width: 100%;
    height: 30%;
    margin-top: 15%;
    display: flex;
    flex-direction: column;
    gap: 1%;

    & .breakfast__title{
        width: 80%;
        margin-left: 10%;
        height: 5%;
        display: flex;
        font-size: 1.4em;
        margin-top: 10%;

    }

    & .menu__table{
        width: 80%;
        height: 90%;
        margin-left: 10%;
        
        

        & tr{
            height: 55px;
        }

        & td {
            padding: 8px;
            width: 70%;
            

            &:last-child {
                width: 30%;
                text-align: right;
            }
        }


    }
    
    }
}